form {
    display: flex;
    justify-content: center;
}

.InputTodo {
    height: 5vh;
    width: 20vw;
    padding-left: 1vw;
    border: 1px solid rgb(122, 166, 243);
    border-radius: 5px;
}

.InputSubmitDiv {
    display: flex;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: 700;
    padding: 0 1vw;
    border-radius: 5px;
    border: 0;
}